.carousel {
  position: relative;
  overflow: hidden;
}

.carousel-container {
  height: 430px;
  display: flex;
  transition-duration: 0.5s;
}

.carousel-item {
  flex: none;
}

.carousel-button {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 330px;
  transition-duration: 0.5s;
}

.carousel-button:hover {
  background: rgb(0 0 0 / 4%);
}

.carousel-slider-button {
  margin: 0 3px;
  color: rgb(0 0 0 / 50%);
}
