.home-page {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

.home-name {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.home-top {
  padding: 50px 0;
  border-bottom: 1px solid rgb(0 0 0 / 50%);
}

.home-bottom {
  background: rgb(0 0 0 / 5%);
  height: 600px;
  padding: 20px 0;
}

.home-title {
  text-align: right;
  margin-right: 30px;
}
